{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container bg-light py-3 mt-5">
        <h1>Register</h1>
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
