<h1>Validation of your account</h1>
<p>To validate your account on SnowTricks, follow this link: <a href="{{ url('app_validation', {'token': token}) }}">{{ url('app_validation', {'token': token}) }}</a></p>
