<h1>Request for password reset</h1>
<p>You are receiving this email because a password reset request has been made on SnowTricks.</p>
<p>If you are not the initiator of this request, please ignore this message.</p>
<p>To reset your password follow this link: <a href="{{ url('app_password_reset', {'token': token}) }}">{{ url('app_password_reset', {'token': token}) }}</a></p>
