{% extends 'base.html.twig' %}

{% block body %}
    <h1>Error</h1>
    <p>
        An error has occurred.
        Please wait and try again or <a href="{{ path('app_home') }}">return to the homepage</a>.
    </p>
{% endblock %}
