{% extends 'base.html.twig' %}

{% block title %}Modifier un Trick &middot; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container bg-light py-3 mt-5">
        <h1>Modifier un Trick</h1>
        {{ component('trick_form', {
            isEditing: true,
            trickForm: trick.id ? trick : null,
            form: form
        }) }}
    </div>
{% endblock %}
