{% extends 'base.html.twig' %}

{% block title %}Nouveau Trick &middot; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container bg-light py-3 mt-5">
        <h1>Nouveau Trick</h1>
        {{ component('trick_form', {
            form: form
        }) }}
    </div>
{% endblock %}
