{% extends 'base.html.twig' %}

{% block title %}New Trick &middot; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container bg-light px-0 pb-3 mt-5">
        {{ component('trick_form', {
            trick: null,
            form: form
        }) }}
    </div>
{% endblock %}
